/************************************************************************
 * Qiita Colors
 ************************************************************************/

:root {
    --qiita-style-background-color: #FFFFFF;
    --qiita-style-color: #333333;
    --qiita-code-block-background-color: #364549;
    --qiita-code-title-background-color: #777777;
    --qiita-code-block-color: #e3e3e3;
    --qiita-code-hljs-string: #88df4c;
    --qiita-code-hljs-link: #41b7d7;
    --qiita-header-tags-icon: #666666;
    --qiita-inline-code-background-color: #eeeeee;
    --qiita-note-info-background-color: #E5F8E2;
    --qiita-note-info-icon-color: #55C500;
    --qiita-note-warn-background-color: #FDF9E2;
    --qiita-note-warn-icon-color: #F7A535;
    --qiita-note-alert-background-color: #FBEFEE;
    --qiita-note-alert-icon-color: #D60A34;
    --qita-font-family: "YakuHanJPs", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    --qita-code-font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

/************************************************************************
 * Qiita Style
 ************************************************************************/

.qiita-style {
    background-color: var(--qiita-style-background-color);
    font-family: var(--qiita-font-family);
    color: var(--qiita-style-color);
    margin: 0px 0px 24px;
    padding: 32px;
}
.qiita-style h1 {
    font-size: 28.8px;
    font-weight: bold;
    color: var(--qiita-style-color);
    margin: 63.36px 0px 24px;
    padding: 0px 0px 2.88px;
    border-bottom: 1px solid #CCC; 
}
.qiita-style h2 {
    font-size: 25.6px;
    font-weight: bold;
    color: var(--qiita-style-color);
    margin: 56.32px 0px 24px;
    padding: 0px 0px 2.56px;
    border-bottom: 1px solid #CCC;    
}
.qiita-style h3 {
    font-size: 22.4px;
    font-weight: bold;
    color: var(--qiita-style-color);
    margin: 49.28px 0px 24px   ;
}
.qiita-style h4 {
    font-size: 19.2px;
    font-weight: bold;
    color: var(--qiita-style-color);
    margin: 42.24px 0px 24px   ;
}
.qiita-style h5 {
    font-size: 16px;
    font-weight: bold;
    color: var(--qiita-style-color);
    margin: 35.2px 0px 24px   ;
}
.qiita-style h6 {
    font-size: 16px;
    font-weight: bold;
    color: var(--qiita-style-color);
    margin: 35.2px 0px 24px   ;
}
.qiita-style ul {
    font-size: 16px;
    color: var(--qiita-style-color);    
    margin: 24px 0px;
    padding: 0px 0px 0px 24px;
}
.qiita-style ol {
    font-size: 16px;
    color: var(--qiita-style-color);    
    margin: 24px 0px;
    padding: 0px 0px 0px 24px;
}
.qiita-style img {    
    margin: 24px 0px;    
}
.qiita-style p {
    font-size: 16px;
    color: var(--qiita-style-color);    
}
.qiita-style code {
    font-size: 16px;
    color: var(--qiita-style-color);    
    background-color: var(--qiita-inline-code-background-color);
    padding: 1.6px 6.4px
}
.qiita-style summary {
    font-size: 16px;
    color: var(--qiita-style-color);    
}
.qiita-style details {
    font-size: 16px;
    color: var(--qiita-style-color);
    margin: 24px 0px  
}
/************************************************************************
 * Qiita Header
 ************************************************************************/

 .qiita-header {    
    margin: 0px 0px 48px;    
}
.qiita-header-title {
    font-size: 32px;
    font-weight: bold;
    margin: 8px 0px 0px;
    color: var(--qiita-style-color);    
}
.qiita-header-tags {
    font-size: 14px;
    margin: 8px 0px 0px;    
    color: var(--qiita-style-color);    
}

/************************************************************************
 * Qiita Code
 ************************************************************************/

.qiita-code {
    margin: 21.6px -32px;    
    /* padding: 14.4px 32px; */
    padding: 0px 32px;
}
.qiita-code,
.qiita-code div,
.qiita-code pre,
.qiita-code code {    
    background-color: var(--qiita-code-block-background-color);    
    background-blend-mode: unset;
}
span.qiita-code-title {
    color: white;
    background-color: var(--qiita-code-title-background-color);    
    padding: 2px 5px 4px 8px 
}
.qiita-code-block div {
    font-family: var(--qita-code-font-family);
    font-size: 14.4px;
    color: var(--qiita-code-block-color);
    /* padding: 7.2px; */
}
.qiita-code-block .hljs-string {
    font-family: var(--qita-code-font-family);
    font-size: 14.4px;
    color: var(--qiita-code-hljs-string); 
}
.qiita-code-block .hljs-link,
.qiita-code-block .hljs-attr {
    font-family: var(--qita-code-font-family);
    font-size: 14.4px;
    color: var(--qiita-code-hljs-link); 
}
.qiita-header-tags-icon {
    color: var(--qiita-header-tags-icon)    
}

/************************************************************************
 * Qiita Note
 ************************************************************************/
.qiita-note-content {
    margin-top: auto;
    margin-bottom: auto;
}
.qiita-note-info-icon,
.qiita-note-warn-icon,
.qiita-note-alert-icon {
    width: 3%;
    height: 3%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px
}
.qiita-note-info {
    background-color: var(--qiita-note-info-background-color);
    margin: 24px 0px;    
}
.qiita-note-info-icon {
    color: var(--qiita-note-info-icon-color);
}
.qiita-note-warn {
    background-color: var(--qiita-note-warn-background-color);    
}
.qiita-note-warn-icon {
    color: var(--qiita-note-warn-icon-color);
}
.qiita-note-alert {
    background-color: var(--qiita-note-alert-background-color);    
}
.qiita-note-alert-icon {
    color: var(--qiita-note-alert-icon-color);
}
.qiita-note-body {
    display: flex;
    vertical-align: baseline;    
    padding: 16px;
}

/************************************************************************
 * Qiita Link Card
 ************************************************************************/
.qiita-link-card {
    height: 110px;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.qiita-link-card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
}
.qiita-link-card-site {
    font-size: 12px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
}
.qiita-link-card-image {
    flex-shrink: 0;    
    width: 220px;
    height: 110px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    object-fit: cover;
}